ansi2html==1.6.0
attrs==20.3.0
docutils==0.16
htmlmin==0.1.12
importlib-metadata==3.7.0
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.5
packaging==20.9
pkg-resources==0.0.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytest-reporter==0.5.1
pytest-reporter-html1==0.8.1
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
